@import '~antd/dist/antd.css';
@import './assert/normalize.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.8.0/leaflet.css');
@import url('https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.selected-button, .ant-btn:focus {
    background: #757de7;
    color: #fff;
    box-shadow: none;
    border: none
}

.create-button {
    background: darkseagreen;
    color: white
}

.remove-button {
    background: #e7768e;
    color: #fff;
}

.bold {
    font-weight: bold;
}

.addressName > div {
    overflow: hidden;
    height: 20px;
}

.active-item {
    background: rgba(0, 0, 0, 0.1);
}

